.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

.left {
  float: left;
  width: 15%
}

.right {
  float: left;
  width: 85%
}

.info-window {
	font-size: 14px;
	width: 256px
}

.info-window br {
	display: none
}

.info-window:after {
	content: "";
	display: table;
	clear: both
}

.info-window .col1 {
	float: right;
	width: 166px;
	word-wrap: break-word
}

.info-window .col-2 {
	float: left;
	width: 80px;
	margin-right: 10px
}

.info-window .loc-detail {
	float: left;
}

.info-window .col-2 img {
	width: 100%
}

.info-window .title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	display: block;
	color: #f84b01
}

.info-window .features {
	font-size: 14px;
	font-weight: 500;
	display: block;
	color: #333333
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
